*.o
csol
CMakeCache.txt
CMakeFiles
cmake_install.cmake
/build

*.OBJ
CSOL.EXE
AUTOEXEC.BAT
CONFIG.SYS
*.000
/dos/pdcurses
/dos/watcom
/dos/PDCURSES
/dos/WATCOM

csol-dos.zip
dos/CSV.ERR
dos/setup.exe
dos/3.9.tar.gz
SCORES.CSV
STATS.CSV